body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s ease;
  font-family: bignoodletitling;
  height: 100vh;
  overflow: hidden;
  font-family: bignoodletitling;
}

div.img-area {
  height: 400px;
  width: 70%;
  background: url('wemadeit.gif');
  background-position: center;
  background-size: cover;
  margin-right: 1.5rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(192, 183, 183);
}

.form-area {
  background-color: white;
  display: flex;
  height: 400px;
  width: 50%;
  box-shadow: 10px 16px 5px 0px rgba(0, 0, 0, 0.20);
}

.right-text {
  display: flex;
  flex-direction: column;
}

input {
  width: 90%;
  margin-bottom: 1.2rem;
}

textarea {
  width: 90%;
}

a {
  margin-top: 1.5rem;
  width: 40%;
  text-decoration: none;
  border-radius: 1rem;
  height: 55px;
  background-color: rgb(104, 29, 29);
  text-align: center;
  color: white;
  line-height: 55px;
}

p {
  padding-right: 1.8rem;
}